body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

#login, #atm-dashboard {
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
}

button {
    margin-top: 10px;
}

div {
    margin-top: 20px;
}
